LINKEDIN_USERNAME=test@mailnator.com
LINKEDIN_PASSWORD=coolpasswordhere
TEST_PROFILE_ID=ACoAABQ11fIBQLGQbB1V1XPBZJsRwfK5r1U2Rzt
TEST_PUBLIC_PROFILE_ID=ACoAABQ11fIBQLGQbB1V1XPBZJsRwfK5r1U2Rzt
TEST_CONVERSATION_ID=6419123050114375168
