[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"

[dev-packages]
black = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

