[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
"flake8" = "*"
ipdb = "*"
"autopep8" = "*"
black = "*"

[requires]
python_version = "3.7"
