[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"

[dev-packages]
black = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[scripts]
test = "python -m pytest tests"
build = "python setup.py sdist bdist_wheel"
publish = "python -m twine upload dist/*"